.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  font-family: 'Cafe24 Dongdong';
}

.cafe-photo {
  width: calc(33.3% - 10px);
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #f0f0f0;
}
